
#table {
    background-color: white;
    text-align: center;
    line-height: 0px;
}
#begin {
    background-color: silver;
    height: 30px;
    text-align: center;
    padding:  7px;

}
#start {
    cursor: pointer;
}
p {
    position: absolute;
    margin: 16px 0px;
    width: 50px;
    text-align: center;
}
.cell {
    position: relative;
    display: inline-block;
    line-height: 20px;
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: gray;
    box-shadow: 0 0 4px 0px black;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.near {
    background-color: green;
}
.empty {
    opacity: 0.4;
}
.flag {
    background-color: orange;
}
.flag:after {
    content:'🚩';
    top: 0px;
    left: 5px;
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
    line-height: 100%;
}
.bomb {
    background-color: red;
}
.bomb:after {
    content:'☠';
    top: 0px;
    left: 5px;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    opacity: 0.5;
    line-height: 100%;
}

.unvisible {
    display: none;
}

.no-click {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #3635358e !important;
}